// Here you can add other styles
.cursor-pointer {
  cursor: pointer;
}

.video-wrapper {
  width: 70%;
  height: 35%;
}

.youtube-wrapper {
  height: 70vh;
}

.infinite-scroll {
  height: 70%;
  overflow-y: auto;
}

.scroll-item {
  padding: 5px;
  border: 1px solid darkgrey;
}
